<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="EV7JP4eEEIuIEJYFSZ8HMsXqj98EtCOzoQnf-OVixjA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/info/_css/defaultpage.css">
</head>
<body bgcolor="#f0f0f0">
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}

    {% if site.audio.enabled %}
        {% include audio-player.html %}
    {% endif %}
</body>
</html>
