<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/info/_css/gatekeeper.css">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="MVGatekeeper.js"></script>
</head>
<body bgcolor="#f0f0f0">
    {% include header.html %}
    
    {{ content }}
    
    {% include footer.html %}
</body>
</html>
